/* display background color black on navbar scroll */
.navbarScroll.navbarDark {
    background-color: black;
}

/* hero background image */
.bgimage {
    
    height:100vh;
    background-color: #000000;
    background-size: cover ;
    position:relative;
    
}
/* text css above hero image*/
.hero_title {
    font-size: 4.5rem;
    color: #fff;
}
.hero_desc {
    font-size: 2rem;
    color: #fff;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 249, 249);
}

 /* Add some basic styling for the portfolio section */
 .portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}
.project {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}
.project img {
    max-width: 100%;
    height: auto;
}
.project h3 {
    margin-top: 10px;
}


/* Example CSS styles for the contact section */
 /* Example CSS styles for the contact section */

 #contact {
    padding: 20px;
    background-color: white;
}
h2 {
    color: #333;
}
p {
    color: #555;
}
ul {
    list-style: none;
    padding: 0;
}
li {
    margin-bottom: 10px;
}
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

/* social media icons styling */
.social-icons {
    font-size: 36px;
    cursor: pointer;
}
.fa-facebook:hover,.fa-instagram:hover,.fa-twitter:hover,.fa-linkedin:hover, .fa-twitch:hover {
    color: #eaf3ea;
}
.fab {
    color: #000000;
}
/* footer styling */
#footer {
    background-color: rgb(167, 162, 162);
    text-align: center;
}